html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #359CCA;
}

.container-1 {
  overflow: hidden;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 545px;
  height: 500px;
  padding-left: 25px;
  padding-right: 25px;
}

.company-logo {
  width: 60%;
}

h1 {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 38px;
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: normal;
  margin: 35px 0px 0px 0px;
  }

h2 {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 66px;
  position: relative;
  display: inline-block;
  text-align: left;
  margin: -20px 0px 0px 0px;
  }

p {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 25px;
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 32px;
  margin: 0px 0px 35px 0px;
  }

.button {
  background-color: #359CCA;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  outline: 0;
  transition: all 150ms ease;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button1 {
  background-color: #359CCA;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: #359CCA;
}
