html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #359CCA;
}

.container-1 {
  overflow: hidden;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 500px;
  height: 500px;
}

.company-logo {
  width: 60%;
  margin-bottom: 25px;
}

.top-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 40px;
  position: relative;
  display: inline-block;
  text-align: left;
  }

.bottom-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 70px;
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 80%;
  }

.description-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 26px;
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 140%;
  margin-top: 40px;
  }

a {
  font-family: 'Overpass', sans-serif;
}

.button {
  background-color: #359CCA;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 40px;
  margin-right: 10px;
  outline: 0;
  transition: 0.3s;
}

.button1 {
  background-color: #359CCA;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: #359CCA;
}
