html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #359CCA;
}

.top-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 40px;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0;
  }

.bottom-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 65px;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0;
  }

.description-text {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 30px;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0;
  }
